.footer {
  background-color: #000;
  padding: 3rem 0;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  margin-right: 2rem;
}
.footer__text--support {
  padding-left: 8rem;
}
.footer__title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__item {
  margin: .3rem 0;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__box {
  display: flex;
}
.footer__input {
  height: 6rem;
  padding-left: 1rem;
  width: 30rem;
}
.footer__signup {
  align-items: center;
  background-color: #373737;
  border: none;
  color: #fff;
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  justify-content: center;
  height: 6rem;
  padding: 0 3rem;
  text-decoration: none;
}


@media only screen and (max-width: $desktop-breakpoint) {
  .footer__content {
    flex-direction: column;
  }
  .footer__left {
    margin-right: 0;
  }
  .footer__text--support {
    padding-left: 3rem;
  }
  .footer__input {
    width: 20rem;
  }
}