.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 4.8rem 0;
}
.header__logo {
  height: 67px;
  width: 200px;
}


@media only screen and (max-width: $desktop-breakpoint) {
  .header {
    margin: 0 0 3rem 0;
  }
}