.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: $xl-size 0;
}
.header__logo {
  height: 67px;
  width: 200px;
}
.header__cart {
  height: 30px;
  width: 30px;
}


@media only screen and (max-width: $desktop-breakpoint) {
  .header {
    margin: 0 0 $l-size 0;
  }
}