* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica, Arial, sans-serif;;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 1rem;
}